*,body {
    margin: 0px;
    padding: 0px;
    font-family: "Hanken Grotesk", sans-serif; 
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.container {
    max-width: 100%;
    min-height: 30rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 20px 20px 54px -25px rgba(66, 68, 90, 1);
}

.flex_item {
    flex: 1;
    min-width: 15rem;
    flex-shrink: 1;
    
}

.result {
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 30rem;
}

.shadow {
    opacity: 0.6;
}

.score {
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    border-radius: 50%;
    min-height: 180px;
    min-width: 180px;
    display: grid;
    justify-content: center;
    align-content: center;
 
}

.result > p:nth-child(1)/*Your result*/ {
    font-size: 22px;
    padding-bottom: 30px;
    overflow-wrap: break-word;
}

.score > p:nth-child(1)/*76*/ {
    font-size: 50px;
    font-weight: 800;
}

.result > h3/*Great*/ {
    font-size: 30px;
    font-weight: 500;
    padding: 30px 0px 20px 0px;
}

.result > p:last-child {
    padding: 0px 20% 15px 20%
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.summary > h3 {
    font-size: 20px;
    margin: 0.8rem 2rem 0.8rem 2rem;
}

.summary_item_svg {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 1rem 0.75rem 1rem 0.75rem;
    border-radius: 8px;
    
}

.summary_item_svg > p > span {
    opacity: 0.6;
    
}

.summary_item_svg > div > svg {
    padding-right: 0.6rem;
}

.summary_item_svg > div {
    display: flex;
}

.summary_item { /*prawdopodobnie sie zmniejszy bo summary item to tez button albo nawet wyzeruje jak dodam background i wymiary
    ew przejdzie tylko na button nie wiem jeszcze*/
    margin: 0.4rem 2rem 0.4rem 2rem;
}

.summary > button {
    border-radius: 2rem;
    border: none;
    padding: 0.75rem;
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    color: white;
    font-size: 18px;
    margin: 2rem
}

.summary > button:hover {
    cursor: pointer;
    background: hsl(225, 29.4%, 26.7%)
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    
}

.reaction > div {
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.memory > div {
     color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal > div {
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.visual > div {
    color: hsl(234, 85%, 45%);
}

@media only screen and (max-width: 479px) {
    main {
        align-content: flex-start;
        
    }

    .container {
        border-radius: 0;
        min-height: inherit;
    }

    .result {
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .result > p:nth-child(1)/*Your result*/ {
        padding-top: 15px;
    }

    .summary > h3 {
        margin: 2rem;
    }
}